.colCustom {
	background: white;
	padding: 10px;
	min-height: 900px;
}

.colDivider {
	border-right: 1px solid #ddd;
}

.colHistory {
	background: #f5deb3;
	color: #616161;
	font-weight: 600;
}

.colPlayground {
	background: #f5f5f5;
	color: #616161;
	font-weight: 600;
}

.colStore {
	background: #dbddf7;
	color: #616161;
	font-weight: 600;
}
