.navbarCustom {
	background-color: #343652;
	border-radius: 0px;
	border: none;
	border-bottom: 2px solid #FFC107;
	margin-bottom: 0px;
}

.navbarCustom a {
	color: white !important;
}

.navbarCustom a:hover, a:active, a:focus {
	text-decoration: none;
	color: #f8f8f8 !important;
}


.header {
	width: 100%;
}

.header a {
	width: 100%;
	text-align: center;
}
