.btnSearch {
	padding-left: 20px;
	padding-right: 20px;
	border-color: #a8c586;
	border-radius: 10px;
	background: #b7d495;
	font-weight: 500;
}

.btnSearch:focus,
.btnSearch:hover,
.btnSearch:active,
.btnSearch:hover:active,
.btnSearch:focus:active {
	border-color:  #a8c586;
	background: #a8c586;
	outline: none;
	box-shadow: none;
}

.formGrp {
	margin-bottom: 5px !important;
}

.inputText {
	outline: none;
	box-shadow: none;
	border-radius: 10px;
	border-color: #d6d6d6;
	background: #e2e2e2;
}

.inputText:focus,
.inputText:hover,
.inputText:active,
.inputText:hover:active,
.inputText:focus:active {
	outline: none;
	border-color: transparent;
	box-shadow: none;
	background: #d6d6d6;
}

.tabBox {
	margin-top: 10px;
}

.rowResults {
	margin-top: 10px;
}

.inputSelect {
	outline: none;
	box-shadow: none;
	border-radius: 10px;
	border-color: #d6d6d6;
	background: #e2e2e2;
}

.inputSelect:focus {
	outline: none;
	border-color: transparent;
	box-shadow: none;
	background: #d6d6d6;
}

.spinner {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
